<main class="index">
    <header class="phead d-flex">
        <div class="container text-center my-auto">
            <h1>Favorite Moments</h1>
            <h3>Stored your Favorite Moments</h3>
            <a href="/signin" class="alink btn btn-priamry">Get started
                <i class="fa-solid fa-fire"></i>
            </a>
        </div>
    </header>
</main>